dns queries with underscores are refused

Validation in the DNS server prevents lookups for hostnames with '_' (and other non-alphanumeric chars) from being handled.

1. Underscores are commonly used in SRV queries
2. [Section 11 of RFC 2181](https://www.rfc-editor.org/rfc/rfc2181#section-11) clarifies that DNS servers should not refuse queries (or loading zones) due to characters in the labels.

    > In particular, DNS servers must not refuse to serve a zone because it contains labels that might not be acceptable to some DNS client programs.  A DNS server may be configurable to issue warnings when loading, or even to refuse to load, a primary zone containing labels that might be considered questionable, however this should not happen by default.

Based on this, we should remove the character validation in `check_names`.